<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trik Array</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
  Trik Array
    <div id="app">
      <b v-for="x in 10" v-if="x != 2">
        {{x}}
      </b>
    </div>
    <p>
      <a href="../0.8array/" class="btn btn-sm btn-primary">Kembali >> </a> : Bermain dengan Form ?
    </p>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../src/vue.min.js"> </script>
    <script>
    new Vue({
      el: '#app'
      // script Selanjutnya
    })
    </script>
  </body>
</html>
